<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <script src="https://unpkg.com/unpoly@2.6.1/unpoly.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/unpoly@2.6.1/unpoly.min.css">

    <style>
        up-progress-bar {
            background-color: red;
        }
    </style>

</head>

<body>


    <nav>
        <ul>
            <li>
                <a href="{% url 'showcase:index' %}" up-follow>Home</a>
            </li>
            <li>
                <a href="{% url 'showcase:about' %}" up-follow>About</a>
            </li>
        </ul>
    </nav>

    <section class="main" up-main>
        {% block content %}{% endblock content %}
    </section>

</body>

</html>